.chat-screen {
  background-color: #a0b9c9;
  height: 500vh;
}

.chat-screen .alt-header,
.chat-screen .status-bar {
  background-color: #a0b9c9;
}

.chat-screen .alt-header {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.chat-screen .status-bar {
  z-index: 2;
}

@keyframes fadeIn {
  0% {
    transform: none;
    opacity: 0;
  }
  1% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

.main-chat {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.3s linear;
}

.chat__timestamp {
  color: white;
  background-color: #889aa9;
  padding: 15px;
  border-radius: 25px;
  font-size: 14px;
  margin-bottom: 25px;
}

@keyframes messagerowIn {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes messagerowIn--own {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.message-row {
  opacity: 0;
  width: 100%;
  display: flex;
  margin-bottom: 25px;
  animation: messagerowIn 1s ease-in-out forwards;
  animation-delay: 0.3s;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.message__author {
  display: block;
  margin-bottom: 5px;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__bubble {
  background-color: white;
  padding: 13px;
  font-size: 18px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  margin-right: 5px;
}

.message__time,
.message__author {
  opacity: 0.8;
  font-size: 14px;
}

.message-row--own {
  justify-content: flex-end;
  animation: messagerowIn--own 1s ease-in-out forwards;
  animation-delay: 0.3s;
}

.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
  margin-right: 0px;
  margin-left: 5px;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 25px;
  transition: all 0.3s ease-in-out;
}

.reply i {
  opacity: 0.5;
}

.reply .reply__column:first-child {
  width: 10%;
}

.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply input {
  padding: 12px;
  width: 100%;
  border: var(--main-border);
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: 1px;
  top: 6px;
}

.reply__column:last-child > i {
  right: 40px;
  top: 14px;
}

.reply__column:last-child button {
  background-color: var(--yellow);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.reply__column:last-child button i {
  opacity: 1;
}

.reply: .reply__column:first-child,
.reply: .fa-smile-beam,
.reply: button {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile-beam,
.reply:focus-within button {
  opacity: 0;
}

.reply:focus-within input {
  width: 96vw;
  transform: translateX(-12%) translateY(-80px);
}

.reply:focus-within {
  transform: translateY(80px);
}
