.settings__setting {
  padding: 20px 0;
  border-bottom: var(--main-border);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings__setting i {
  margin-right: 20px;
  font-size: 22px;
}

.settings__setting-column:last-child {
  opacity: 0.5;
}

@keyframes ringIcon {
  0% {
    transform: none;
  }
  25% {
    transform: rotateZ(50deg);
  }
  50% {
    transform: none;
  }
  75% {
    transform: rotateZ(-50deg);
  }
  100% {
    transform: none;
  }
}

@keyframes clickMe {
  0% {
    transform: none;
  }
  25% {
    transform: skewX(50);
  }
  50% {
    transform: scale(3);
  }
  75% {
    transform: skewX(50);
  }
  100% {
    transform: none;
  }
}

.settings__setting:hover i {
  animation: ringIcon 1s ease-in-out;
}

.click-me:hover {
  animation: clickMe 1s ease-in-out;
}
